* {
    box-sizing: border-box;
}
body {
   margin: 0; 
   padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    height: 100vh;
    background-color: whitesmoke;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%; 
    background-image: url(THJJRUhNlEc.png);
    background-size: cover;
    background-color: #0E0E0E;
    color: #FFFFFF;
    padding: 2em;
}
.hero {
    padding: 1.5em;
}
.title {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1.437rem;
    letter-spacing: -4.5%;
}
.watchlist{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.25rem;
}

input[type=text] {
    padding: 1.3em;
    padding-right: 10em;
    font-size: 1.0625rem;
    border: none;
  }
  
div .search-container button {
    padding: .3em 1em;
    margin-top: 0.25em;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
div .search-container button:hover {
    background: #ccc;
}
.search-ican {
    font-size: 1.5rem;
}
.ican {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.fa-film, .start {
    color: #DFDDDD;;
    text-align: center;
}
.fa-film{
    font-size: 4rem;
}
.start {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.movie {
    display: flex;
    gap: 1em;
    margin: 1em;
}
.film-img{
    width: 24%;
    height: 30%;
}
.description {
    margin-top: 0.5em;
}
.film-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0;
    margin-top: .5em;
    gap: 0.5em;
}
h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    font-size: 0.75rem;
    color: #111827;
    margin-bottom: 0;
    margin-top: 0;
}
.film-info {
    display: flex;
    gap: 1em;
    line-height: 1rem;
    margin-top: 1em;
}
.add {
    display: flex;
    gap: 0.3em;
}

.film-para {
    max-width: 420px;
    font-size: 0.875rem;
    color: #6B7280 ;
    margin-top: 0.5em;
    
}
@media (min-width: 550px) {
    .title {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.25rem ;
    }
    .film-para {
        font-size: 0.9375rem;
        line-height: 1.5rem;
        margin-top: 1.5em;
    }
    input[type=text] {
        padding-right: 17em; 
    }
    div .search-container button {
        padding: 1em 1.7em;
    }
    p {
       font-size: 0.87rem;
    }
}
@media (min-width: 650px) {
    .title {
        font-size: 2.674rem;
    }
    h3 {
        font-size: 1.375rem;
    }
    .film-para {
        font-size: 1rem;
        line-height: 2.5em;
        margin-top: 2em;
        max-width: 480px;
    }
    input[type=text] {
        padding-right: 24em; 
    }
    div .search-container button {
        padding: 1em 2em;
    }
    p {
        font-size: 0.875rem;
    }
}
